language: ruby
rvm:
  - 2.5.3

script:
  - bundle exec rspec
  - bundle exec rubocop -P

env:
  - CODECOV_TOKEN="55c76f18-4868-483e-a095-87a17e22b349"
  secure: bpBvbu/GWG7dYD8Hn6VslOBPztHIhpxm7gToysa52ZH7/nnBqRRN5KJR0duhrRc3nf47wywZxxZNtR+4VCj0eFvkf9g41Xd8qOdZjq+QfGBAhZum4/r0bzlSMlSb3leCmo8i1T3VevuFLlj7ZmfCKH7kV1TsZhl/fUY/VxY75y0H/YQsGwd1589UN+330NH0DcLZdTRsfrMQSRMnarqe3OihLTaHPJd9DFgG90WIaKpWJujBdSt7mVJGkLPMTapth0gxDdfsyu2Rt6Nm1OOPM0g6vwu4h3wTT3AtUzUjR2HAK1ZYkEV/qiQcvV8TSHfQBSGIPfzVrSYnj6iyyR7GpRdz0ogqV0vYEUcI3rUkR2BeuAEdHWFG9rou5SpBpK9VLP2/1v10zzzuIgHOiHzY9a9JuaiN2cu4pf7xPhFjqweUR72uAw5KBuUaaSsOC20yOzyWNWR+XauNr/aXcT0/4p+St9iLnOIJslof9TWTB4wZptZ9CRiquNy+rr3a4i8gLIAB0i+B/QluxPZ3jk7Nt5fJuQU/N87XkBp1F8SIQ/3O/54skzQCK6Zd87vw0X72aeM6/dmWuVS0ozU04Us7amPDgPPzThTdKhe7LN6v1/t86+rxItNHYoVqNdVkIm++M/nqDDaqFyXU0jS8lKJ9gPFPGRkMpBhQEJCn4HKfqNs=
